.title {
  font-size: 10vw;
  color: #673ab7;
  margin: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3vw;
  padding: 8px;
  margin: 8px;
}

.button:hover {
  background-color: #673ab7;
  transition: all ease-in 0.2s;
}

.footer {
  color: #673ab7;
  font-size: 1vw;
  margin: 8px;
}

img {
  height: 5vw;
}

a {
  text-decoration: none;
}
